
/* default style for the body */

body {
    font-size: 2rem; 
    font-size: 14px; 
    color: #333; 
    background-color: #fff;
    letter-spacing: 1px; 

}



/* putting an overlay of a darker color so the prev and next may pop if it's white but
i keep the overlay white so it looks even brighter instead.*/
.overlay{
    width: 100%; 
    height: 100%; 
    position: absolute;
    z-index: 3;  
    background-color: rgba(0,0,0, 0.4)
}

/* . use ID tag and call both .prev and .next */
.slides-navigation .prev, 
.slides-navigation .next{
    width: 47px;
    height: 47px; 
    background-size: cover; /* image will cover the whole size in this case 47px */
    background-repeat: no-repeat;
    
}

/* superslider navigation */
.slides-navigation {
     z-index: 6
}


/* a give the class a higher presedent*/
.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/prev2.png);
    /* we are use .. because currently we are in the image folder and 
we are telling the computer .. to go back one folder*/
    
}

.slides-navigation a.next{
    right: 20px; 
    background-image: url(../img/icons/next2.png);
    
}


.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    text-align: center;
    margin-top: -125px; 
    z-index: 5
}

.titleMessage .heading p{
    color: white; 
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100; /* thickness of the lettering */
    letter-spacing: 7px
}

.titleMessage .heading .main {
    font-size: 50px;
    
}


.titleMessage .heading .sub {
    font-size: 26px;
    
}

/* about me section div*/
.section {
    padding: 100px 0;
    /*  it's the same saying 100px 0 100px 0 basically 
    it's saying 100px top and bottom and 0px left and right */
}

/*  about me image*/
.aboutImage {
    max-width: 100%;
    /* height: 450px; */
   /*  object-fit: cover;  */
}

/* myName div */
.myName {
    padding: 10px 0; 
}


/* here below is owl and pie chart css */
.skillsSection {
    background-color: white;
    color: black
}

/* pie chart css */

.skill{
    text-align: center; 
    margin-left: 10px;
   

}

.chart .percent{
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px
}

/* adding % icon next to percent variable */
.chart .percent:after{
    content: '%'

}

.chart canvas{
    position: absolute;
    left: 0; 
    top: 0; 

}

.chart {
position: relative;
width: 152px; 
height: 152px; 
display: inline-block; 
text-align: center

}
/* here and above is pie chart and carousel css */


/* css for stats section below*/
.squareItem{
   margin-top: 30px;
   position: relative;
}

/* drawing the left,right,bottom fames for the stats */
.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid black;
    border-top: none; 
}

/* drawing the top portion of the line manually */
.squareInnerContainer:before, 
.squareInnerContainer:after{
    content: '';
    position: absolute; 
    top: 0px; 
    width: 30%; 
    border-bottom: 2px solid black;
}

 
.squareInnerContainer:before{
    right: 0px;

}

.squareInnerContainer:after{
    left: 0px;
}

.squareContent h2{
    font-size: 56px; 
    margin-bottom: 10px;
    font-weight: 400; 
    color: black;
}

.squareContent h3{
     font-size: 20px; 
    margin-bottom: 10px;
    font-weight: 59; 
    color: black;
}

/* position the front awesome icon */
.squareIcon {
position: absolute;
    left: 30%;
    width: 40%;
    height: 60px;
    font-size: 65px;
    top: -25%;
}
/* css for stats section above*/





/* css for the contact section */
.contactSection {
    background-color: white;
    color: black
}

.contactButton {
    color: black;
    padding: 15px 20px; 
    display: inline-block;
    margin-top: 20px; 
    border: 2px  solid black; 
    border-radius: 2px; 
}

/* gave the text color and no text hightlight when  */
.contactButton:hover {
    text-decoration: none;
    color:  pink; 
    background-color: white;

}

/* portfolio and navbar css. */
.filter a{
    color: silver; 
    border: 1px solid silver; 
    padding: 10px 18px; 
    display: block; 

}



.filter li {
    display: inline-block; 
    padding: 5px    
}

.filter .current{
    background-color: red;
    border-color: red; 
    color: white; 

}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px; 
    width: 100%;
}

/* css for the filter imgs and this help get rid of the random dot  */
.items li {
    display: inline-block; 
    padding: 5px; 
    
}

.itemsContainer {
    width: 100%;
    

}

/* control the size of the img  */
.items li img {
    width: 100%;

    -webkit-transition: all 0.2s linear, 1s; 
    -moz-transition: all 0.2s linear, 1s; 
    -o-transition: all 0.2s linear, 1s; 
    -ms-transition: all 0.2s linear, 1s; 
    -transition: all 0.2s linear, 1s; 
    
}

.items .item{
    position: relative;
    display: block; 
    overflow: hidden; 


}

/* css positioning for search and icon on porfolio img */
.items .icons{
    position: absolute; 
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center; 
    z-index: 3; 

}

/* css for my positioning */
.items .icons i{
    color: #fff; 
    font-size: 20px; 
    margin-top: 9px; 
    
}

.items a {
width: 40px;
height: 40px; 
background-color: none; 
position: relative; 
/* display: inline-block;  */

-webkit-transition: all 0.2s linear, 0.5s; 
-moz-transition: all 0.2s linear, 0.5s; 
-o-transition: all 0.2s linear, 0.5s; 
-ms-transition: all 0.2s linear, 0.5s; 
-transition: all 0.2s linear, 0.5s; 

}

.items .imageOverlay{
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
left: 0px;
top: 0px; 
opacity: 0; 

/* transition code for difference browsers so when you 
hover over the images it will be more smooth */
-webkit-transition: all 0.2s linear, 1s; 
-moz-transition: all 0.2s linear, 1s; 
-o-transition: all 0.2s linear, 1s; 
-ms-transition: all 0.2s linear, 1s; 
-transition: all 0.2s linear, 1s; 
}

/* when you hover over the images you will see an overlay */
.items .item:hover .imageOverlay {
    opacity:1; 
}

/* search and link icons flot from the right and 
left inward to the imgs */
.items .openButton {
    float: left; 
    left: -200px;

}

.items .projectLink{
    float: right; 
    right: -200px;

}


.items .item:hover .openButton {
    left: 0px; 
}

.items .item:hover .projectLink {
    right: 0px; 
}

.items .item:hover img{
    -webkit-transform: scale(1.05, 1.05); 
    -moz-tranform: scale(1.05, 1.05); 
    -o-transform: scale(1.05, 1.05); 
    -ms-transform: scale(1.05, 1.05); 
    -transition: scale(1.05, 1.05); 
}

/* cleared some extra padding on item class */
.items {
    padding: 0;
}


.copyrightSection {
    background-color: #000; 
    color: #fff;
    padding: 30px 5px; 
}

/* 0 margin because p tag contains some margin */
.copyrightSection p {
    margin: 0; 
}


/* Navbar  */
#navigation {
    background-color: #E8DCCA;
    padding: 20px 10px;
    z-index: 100; 
    width: 100%; /* fixes the navbar not expanding to the end of the screen */
}

#navigation li {
    padding: 0 10px; 
}

#navigation li a {
    color: black
}

/* makes the brand nav stay black as well  */
.navbar-brand, 
.navbar-brand:hover{
    color: black; 
}

/* add the burger icon on the navbar */
.navbar-toggler-icon{
    background: url(../img/icons/menu.png); 
    background-size: 100%;    
}


/* css to create the navigation fix to work */
.fixedNav #navigation {
    position: fixed;
    top: 0; 
    
}













