
/* putting an overlay of a darker color so the prev and next may pop if it's white but
i keep the overlay white so it looks even brighter instead.*/
.overlay{
    width: 100%; 
    height: 100%; 
    position: absolute;
    z-index: 3;  
    background-color: rgba(0,0,0, 0.4)
}

/* . use ID tag and call both .prev and .next */
.slides-navigation .prev, 
.slides-navigation .next{
    width: 47px;
    height: 47px; 
    background-size: cover; /* image will cover the whole size in this case 47px */
    background-repeat: no-repeat;
    
}

.slides-navigation {
     z-index: 6
}


/* a give the class a higher presedent*/
.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/prev2.png);
    /* we are use .. because currently we are in the image folder and 
we are telling the computer .. to go back one folder*/
    
}

.slides-navigation a.next{
    right: 20px; 
    background-image: url(../img/icons/next2.png);
    
}


.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    text-align: center;
    margin-top: -125px; 
    z-index: 5
}

.titleMessage .heading p{
    color: white; 
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100; 
    letter-spacing: 7px
}

.titleMessage .heading .main {
    font-size: 50px;
}


.titleMessage .heading .sub {
    font-size: 26px;
}

